.noteForm {
    position: fixed;
    right: 2%;
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .noteForm {
        width: 90%;
        margin-left: 20px;
        margin-top: 32px;
        position: relative;
        margin-bottom: 32px;
    }
  }